.flashcard-container {
  perspective: 1000px;
  width: 250px;
  height: 300px;
  margin: 1rem;
  position: relative;
}

.flashcard {
  width: 250px;
  height: 150px;
  transform-style: preserve-3d;
  transition: 0.6s;
}

.flashcard.is-flipped {
  transform: rotateY(180deg);
}

.card-side {
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #e1e1e1;
  padding: 15px;
  box-sizing: border-box;
}

.front {
  background: #ffffff;
}

.back {
  background: #f9f9f9;
  transform: rotateY(180deg);
}

.card-controls {
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: flex;
  justify-content: space-between;
  width: calc(100% - 20px);
}

.flashcard-container:hover .card-controls {
  display: block;
}

.card-info {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
